html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* Chat containers */
/* .container {
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
  }
  
  
/* Clear floats */
.container::after {
content: "";
clear: both;
display: table;
} 