<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
<h1>Create Room</h1>
<h3>{{ message }}</h3>
<form method="post">
    <label>Room Name:</label>
    <input type="text" name="room_name">
    <br>
    <label>Members:</label>
    <input type="text" name="members">
    <br>

    <!-- <label>Privacy:</label>
    <INPUT TYPE="radio" NAME="privacy" VALUE="public">Public
    <INPUT TYPE="radio" NAME="privacy" VALUE="private">Private -->
    <button type="submit" name="submit-create-room" value="submit-create-room">Submit</button>
</form>
</body>
</html>