<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-light " style="background-color: #b19cd9 ;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="\static\assets\img\Logo.png.png" alt="" width="30" height="24"
                    class="d-inline-block align-top">
                GlobalChat
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <h3>{{ message }}</h3>
    <form method="post">
        <label>Room Name:</label>
        <input type="text" name="room_name" value="{{ room.name }}">
        <br>
        <br>
        <label>Members:</label>
        <input type="text" name="members" value="{{ room_members_str }}">
        <br>
        <br>
        <button class="btn btn-dark" type="submit" name="submit-edit-button" value="submit-edit-button">Submit</button>
        <button class="btn btn-dark" type="submit" name="exit_edit_button" value="exit_edit_button">Go Back</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>